.category {
    &__image {
      // height: 100%;
      height: 130px;
  
      width: 100%;
      object-fit: cover;
      object-position: center;
  
      @include onTablet {
        height: 184px;
      }
  
      @include onDesktop {
        height: 324px;
      }
  
      &--smaller{
        
      }
      
    }
  }
  