.contact {
  padding: 0 0 64px;

  @include onTablet {
  padding: 0 0 120px;

  }

  &__title {
    margin: 0 0 48px;
    letter-spacing: -1.5px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    font-family: Space Grotesk;

    

    @include onTablet {
      margin: 0 0 56px;
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__info {
    grid-column: 1 / -1;
  }
}
