.header {
  position: relative;

  background-image: url(/images/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include onTablet {
    background-size: cover;
  }

  @include onDesktop {
  }

  &__content {
    max-width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 40px;

    @include onTablet {
      padding: 0 0 65px;
    }
    @include onDesktop {
      padding: 0 0 92px;
    }
  }

  &__menu {
    width: fit-content;
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      gap: 40px;
    }

    @include onDesktop {
      gap: 32px;
    }
  }

  &__waves {
    width: 48px;
    height: 58px;

    @include onTablet {
      width: 63px;
      height: 76px;
    }
  }

  &__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;


    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
