.nav {


  &__list {
    padding: 32px 0 48px;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 32px;

    @include onTablet {
    padding: 56px 0 48px;

    }
  }

  &__item {
    display: flex;
    width: fit-content;
    border-bottom: 1px solid transparent;

    transition: border-color 0.3s;

    &:hover {
      border-color: #292929;
    }
  }

  &__link {
    padding: 0 0 4px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    color: #292929;
  }
}
